<h1>Adopt a Tamagotchi</h1>
<form action="/tamagotchi" method="post">
<label for="new-name">Name your new Tamagotchi</label>
<input id="new-name" name="new-name" type="text">
<button type="submit">ADOPT</button>
</form>
