<h1>@Model.GetName()</h1>


<p> Here are where the stats should be and all the buttons</p>
<p>Food Level: @Model.GetFood()</p>



<a href='/tamagotchi/new'>Add another tamagotchi</a>
<a href='/tamagotchi'>View all tamagotchi</a>
