<h1>@Model.GetName()</h1>


<form action="/tamagotchi/@Model.GetId()/feed" method="post">
<button type="submit" value="Feed">Feed</button>
</form>

<form action="/tamagotchi/@Model.GetId()/sleep" method="post">
<button type="submit" value="Sleep">Sleep NOW</button>
</form>

<form action="/tamagotchi/@Model.GetId()/play" method="post">
<button type="submit" value="Play">PLay</button>
</form>

<p>@Model.GetHunger() hunger count</p>
<p>@Model.GetSleep()  sleep count</p>
<p>@Model.GetAttention() Attention count</p>


<a href='/tamagotchi/new'>Add another tamagotchi</a>
<a href='/tamagotchi'>View all tamagotchi</a>
