<h1>Your Tamagotchi Family</h1>
<ul>
@foreach(var x in Model)
{
<li><a href='/tamagotchi/@x.GetId()'>@x.GetName()</a></li>
}
</ul>


<form action="/tamagotchi/time" method="post">
<button type="submit" value="Time">Pass Time</button>
</form>
<a href="/tamagotchi/new">Adopt a new tama</a>
