<h1>Welcome to the World of Tamagotchi!</h1>
<a href='/tamagotchi/new'>Adopt a new one</a>
<a href='/tamagotchi'></a>

<h3><a href='/categories'>View categories</a></h3>
<h3><a href='/categories/new'>Add a new category</a></h3>
